#shangpxiangqiyezj{
	padding-top: 20px;
	
/*	设置其中间的整个部分的背景色*/
background-color:#ffffff ;
width:1000px;
margin:430px auto;
font-size: 12px;
text-align: center;
/*background-color:#fefefe;*/
display:block;
position:relative;
padding-right:20px;
padding-left:20px;
margin-bottom:0px;
	height:3780px;
	overflow: hidden;
}
/*中间第一拍第一张*/
.dtxgll {
width: 320px;
height: 232px;
overflow: hidden;
float: left;
cursor: pointer;
margin-bottom: 20px;
margin-right: 20px;
}
.dtxgll {
position: relative;
width:320px;

overflow: hidden;
margin:0px;
}

.baozhu {
position: relative;
overflow: hidden;
width: 320px;
height: 190px;
overflow: hidden;
/*border: 1px solid red; */
}
.imgdtxg{
	position: absolute;
top: 0px;
left: 0px;
width: 320px;
height: 192px;
}

.text {
position: absolute;
width: 322px;
height: 192px;
top: 0;
left: 0;
background: rgba(0,0,0,0.5);
display: none;
z-index: 999;
display: none;
}

.zhezhaotext {
/*padding: 0px 30px;
height: 190px;
text-align: center;
line-height: 22px;
width: 260px;
font-size: 12px;
color: white;
padding-top: 95px;*/
padding: 75px 30px;
height: 190px;
text-align: center;
line-height: 22px;
width: 260px;

}
.xm{

	width: 300px;
height: 40px;
overflow: hidden;
padding: 0 10px;
line-height: 40px;
background-color: #f2f2f2;
	}
.xm p {
display: block;
float: right;
color: #db2726;
}
.xm p span {
font-size: 18px;
}
.xm span{
	float:left;
}

/*遮罩层*/

.text {
position: absolute;
width: 322px;
height: 192px;
top: 0;
left: 0;
background: rgba(0,0,0,0.5);
display: none;
z-index: 999;
color: white;
}
.zhezhaotext{
padding: 75px 30px;
height: 190px;
text-align: center;
line-height: 22px;
width: 260px;
}
.dtxgll {
	margin-bottom:20px ;
	margin-right: 20px;
}

.dddddddd{
	margin-right: 0px;
}
