/*登录页面的布局*/

.dlymz{
	background-repeat: no-repeat no-repeat;
    background-image: url(../img/dlymbjtp.png);
	width: 1000px;
height:auto;
overflow: hidden;
margin: 0 auto;
}
.dlymt{
background-image: url(../img/dlymtb.png);
width: 369px;
height: 36px;
margin: 0 auto;
margin-top: 30px;
background-repeat: no-repeat;
cursor: pointer;
}
.dlymzj{
	width: 950px;
height: 650px;
overflow: hidden;
}
.dlymzjlr{
	float: right;
width: 350px;
height: auto;
overflow: hidden;
margin-top: 60px;
margin-right: 150px;
}
.hydl_regsiter11{
	margin-left: 90px;
width: 260px;
height: auto;
overflow: hidden;
padding-bottom: 10px;
padding: 0;
margin: 0;
border: 0;
outline: 0;
background: transparent;
letter-spacing: .5px;
display: block;
margin-left: 90px;
width: 260px;
height: auto;
overflow: hidden;
padding-bottom: 0px;
}
.hydl_regsiter11 h2{
	font-size: 16px;
font-weight: bold;
float: left;
display: block;
/*font-size: 1.5em;*/
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
margin-top: 0px;
}
#loginForm11 ul li span{
float: left;
width: 75px;
margin-right: 15px;
height: 30px;
line-height: 30px;
overflow: hidden;
text-align: right;
white-space: nowrap;
display: inline;

}



.hydl_regsiter11 span a{
	font-size: 14px;
color: #db2725;
text-decoration: underline;
font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;
}

.iiiii{
	margin-left: 40px;;
	font-size: 14px;
	font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;
	
}
.hydl_regsiter11{
	width:280px;
}
.sgfko{
	width:350px;
	height:132px;
	background: red;
}
         /*         <!--  登录名输入登录方框-->*/

.sgfko li{
	width:350px;
	height:44px;
	background: yellow;
}
.sgfko li span{
	float: left;
width: 75px;
margin-right: 15px;
height: 30px;
line-height: 30px;
overflow: hidden;
text-align: right;
white-space: nowrap;
display: inline;
font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;
font-size: 12px;
color: #000;
text-decoration: none;
outline-style-position: outside;
}
#userAccount{
	width: 253px;
padding-left: 5px;
height: 28px;
border: 1px solid #999;
color: #999;
line-height: 28px;
float: left;
}
#userAccount2{
	width: 253px;
padding-left: 5px;
height: 28px;
border: 1px solid #999;
color: #999;
line-height: 28px;
float: left;
}
#lockInfo{
	display: none;
}
.hydl_btn22{
width: 350px;
height: 35px;
background-color:#000000;
}
.hydl_btn22 a{
	display: block;
background-color: #db2725;
width: 260px;
height: 35px;
text-align: center;
line-height: 35px;
color: #FFF;
font-size: 14px;
float:right;
}

.hydl_partner{
width: 350px;
height: auto;
overflow: hidden;
margin: 20px 0 0 0;
}
..hydl_partner h4{
	width: 75px;
float: left;
text-align: right;
margin-right: 15px;
white-space: nowrap;
}
.sgfko{
	height:auto;
}
/*下次登录什么的*/
.hydl_login{
	padding-left: 90px;
height: auto;
overflow: hidden;
margin-top: 10px;
font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;
font-size: 12px;
color: #000;
background-color:blue;
}
.hydl_login p{
	width:95px;height:17px;
}
#isRemenber{
	height:17px;
	width:89px;height:17px;

}
.hydl_login a{
	width:89px;height:17px;
	display: block;
	float:right;
	margin-top:5px;
}
/*登录框的微博*/
a.weibo {
width: 20px;
height: 17px;
overflow: hidden;
background: url(../img/icon_weibo.png) no-repeat;
float: left;
margin: 0 25px 0 0;
cursor: pointer;
display: inline;
}

a.weibo:hover {
background: url(../img/icon_weibo_03.png);
}
/*登录框的支付宝*/
a.zhifubao:hover {
background: url(../img/icon_zhifubao_03.png);
}
a.zhifubao {
width: 44px;
height: 17px;
overflow: hidden;
margin-top: 2px;
background: url(../img/icon_zhifubao.png) no-repeat;
float: left;
margin: 0 25px 0 0;
cursor: pointer;
display: inline;
}




.hydl_partner h4 {
width: 75px;
float: left;
text-align: right;
margin-right: 15px;
white-space: nowrap;
}


.selected {
display: block;
width: 12px;
height: 12px;


/*background: url(../img/icon_not_selected.png) no-repeat;*/
text-indent: -9999px;
cursor: pointer;
}
#isRemenber{
	
}
.hydl_login p{
	/*background: url(../img/icon_not_selected.png) no-repeat;*/
}
#isRemenber{
	width:20px;
	margin-top:0;
	float:left;
}
.hydl_login p,.hydl_login a{
	float:left;
}
.hydl_login a{
	float:right;
}
.hydl_login p{
	width:100px;
	padding-top:5px;
}
.hydl_login{margin-top:20px;}
/*<!--  登录联名登录下面的东西    二维码等-->*/
.erweima {
margin-left: 90px;
margin-top: 20px;
}
.erweima img {
float: left;
}

.erweima p {
line-height: 20px;
margin-top: 16px;
float: right;
margin-right: 18px;
}
body {
font-family: Microsoft YaHei,Tahoma,Arial,Helvetica,sans-serif;
font-size: 12px;
color: #000;
}
.erweima{
	boder-top:1px solid blue;
}
.xian {
background-color: #a8aaab;
width: 350px;
height: 1px;
margin-left: 0;
overflow: hidden;
margin-top: 19px;
}



#foot{
	margin-bottom: 30px;
	background-color: #e1e0e1;
	
}

.footer {
width: 1000px;
height: 205px;
margin: 0 auto;
text-align: left;
padding-top: 30px;
background-color:#e1e0e1 !important;
text-align: center;
}
.hydl_btn22 a:hover{

color: #FFF;

}

.yy{
		background: url(../img/icon_selected.png) no-repeat !important;
}

.select{
	background: url(../img/icon_not_selected.png) no-repeat !important;
}


/*设置他的背景色*/
.sgfko,.sgfko ul li,.hydl_btn22,.hydl_login{
	background-color:#f8f8f9 ;
}
#Act_error,#Pwd_error{
	color:#db2725;
	
}





.sgfko ul{
	padding-left:0px;
}










/*后面加入样式*/
#yttt{
	color:red;
}
/*中高度的判断*/


.login_safety {
width: auto;
margin-left: 89px;
height: 15px;
margin-top: 5px;
}
/*密码低*/
#low{
display: block;
width: 86px;
height: 15px;
text-align: center;
line-height: 15px;
color: #fff;
float: left;
display: inline;
background-color: #929292;
margin-left: 1px;
margin-right: 0;
background-color: rgb(0, 0, 0);
}
/*密码中*/

#middle{
display: block;
width: 86px;
height: 15px;
text-align: center;
line-height: 15px;
color: #fff;
float: left;
display: inline;
background-color: #929292;
margin-left: 1px;
margin-right: 0;
}
#height{
display: block;
width: 86px;
height: 15px;
text-align: center;
line-height: 15px;
color: #fff;
float: left;
display: inline;
background-color: #929292;
margin-left: 1px;
margin-right: 0;
}
/*确认密码*/
#mmaaaay{
	height:auto;
	
}
.hydl_loginbar input {
width: 253px;
padding-left: 5px;
height: 28px;
border: 1px solid #999;
color: #999;
line-height: 28px;
float: left;
}


#qrmmll {
width: 253px;
padding-left: 5px;
height: 28px;
border: 1px solid #999;
color: #999;
line-height: 28px;
float: left;
}
.lllllllll{
	margin-top:15px;
	height:auto;
}


/*短信消炎
*/
.showstyle {
float: left;
width: 75px;
margin-right: 15px;
height: 30px;
line-height: 30px;
overflow: hidden;
text-align: right;
white-space: nowrap;
display: inline;
}


.hydl_loginbar .yanzheng {
width: 108px;
height: 28px;
}
.yanzheng{
/*width: 253px;*/
padding-left: 5px;
height: 28px;
border: 1px solid #999;
color: #999;
line-height: 28px;
float: left;
}

#lowMHight{
	width:300px;
}

#rdm_tel{
	height:auto;
}
/*短信验证*/
#rdm_tel{
	padding-top:15px;
}

/*以上是正常的样式*/
.hydl_loginbar .yanzheng {
width: 108px;
height: 28px;

}

 .yanzheng {
width: 108px;
height: 28px;
}
.hidstyle {
display: none;
height: 0;
font-size: 0;
border: 0;
}
/*yzm.png*
 * 
 cxfsyz.png*/

/*发送验证*/
#rdm_tel{
	margin-bottom: 15px;
}
.hydl_loginbar img {
float: right;
}


/*6秒重发送新*/
.hydl_loginbar .ma {
margin: 0;
margin-left: 10px;
line-height: 30px;
color: #000;
}
.hidstyle {
display: none;
height: 0;
font-size: 0;
border: 0;
}
.hydl_loginbar .ma b {
color: #db2726;
font-weight: normal;
}
.hydl_loginbar p {
color: #db2725;
margin-left: 90px;
margin-top: 3px;
}
/*以上正常*/
/*按钮注册的下面文字*/


.sjzc_login {
width: 260px;
padding-left: 90px;
height: auto;
overflow: visible;
}
/*按钮下面第一行*/
.sjzc_login p {
float: left;
margin: 8px 0 0 0;
display: inline;
text-align: left;
line-height: 18px;
width: 260px;
}
.sjzc_login span {
text-decoration: underline;
}
.sjzc_login p {
text-align: left;
line-height: 18px;
}


/*第二行*/
/*以上都是正常的*/
.chengepst {
margin-top: 3px;
float: left;
margin-right: 2px;
}
.chengepst {
display: block;
width: 12px;
height: 12px;

text-indent: -9999px;
cursor: pointer;
}

.selected{
		background: url(../img/icon_not_selected.png) no-repeat !important;
}
.yy{
		background: url(../img/icon_selected.png) no-repeat !important;
}
/*对于那个小 方框的设置
  .yy{
		background: url(../img/icon_selected.png) no-repeat !important;
}

.select{
	background: url(../img/icon_not_selected.png) no-repeat !important;
}*/


/*登录注册的颜色改变*/
#RPwd_error,#switch_error{
	 color:#db2726;
}
